[submodule "seaport"]
	path = submodules/seaport
	url = git@github.com:ProjectOpenSea/seaport.git
[submodule "submodules/seaport"]
	path = submodules/seaport
	url = git@github.com:ProjectOpenSea/seaport.git
