# Node / NPM / Yarn
node_modules

# Build
/artifacts
/cache
/abi

# Secrets
.env

# OS
.DS_Store

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/**

# Code IDE
.vscode/

# Test Coverage
coverage*

# Logs
logs
