# Node / NPM / Yarn
node_modules

# Build
/artifacts
/cache
/abi
/test/integration/seaport/artifacts

# Secrets
.env

# OS
.DS_Store

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/**

# Code IDE
.vscode/

# Test Coverage
coverage*

## addresses for test environment
/addresses/31337*

## generated contract docs
/contract_docs/**

## temporary file used for generate test chunks for CI
time-report.txt
