name: Contracts CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize, ready_for_review, converted_to_draft, assigned]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    name: build
    outputs: 
      test-chunks:  ${{ steps['set-test-chunks'].outputs['test-chunks'] }}
      test-chunk-ids: ${{ steps['set-test-chunk-ids'].outputs['test-chunk-ids'] }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.1.0
      - name: Setup node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: "16.14.x"
          cache: "npm"
      - run: npm install
      - name: Prepare Environment
        shell: bash
        run: |
          cp .env.example .env
      - run: npm run build
      - run: npm run check:contracts
      - run: npm run check:scripts
      - name: Verify interface ids
        run: npm run natspec-interface-id
      - id: set-test-chunks
        run: echo "test-chunks=$(cat test/util/test-chunks.txt | jq -cM '.')" >> $GITHUB_OUTPUT
        name: Set Chunks
      - id: set-test-chunk-ids
        name: Set Chunk IDs
        run: |
          echo "CHUNNKS"
          echo $CHUNKS
          echo "test-chunk-ids=$(echo $CHUNKS | jq -cM 'to_entries | map(.key)')" >> $GITHUB_OUTPUT
        env:
          CHUNKS: ${{ steps['set-test-chunks'].outputs['test-chunks'] }}
  # test:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   if: ${{ !github.event.pull_request.draft }}
  #   env:
  #     GAS_REPORTER_COINMARKETCAP_API_KEY: ${{ secrets.COINMARKETCAP_API_KEY }}
  #   name: test (chunk ${{ matrix.chunk }})
  #   strategy:
  #     matrix:
  #       chunk: ${{ fromJson(needs.build.outputs['test-chunk-ids']) }}
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3.1.0
  #     - name: Setup node
  #       uses: actions/setup-node@v3.5.1
  #       with:
  #         node-version: 16.14.x
  #         cache: "npm"
  #     - name: Install Dependencies
  #       run: npm install
  #     - name: Prepare Environment
  #       shell: bash
  #       run: |
  #         cp .env.example .env
  #     - name: Compile Contracts
  #       run: npm run build
  #     - name: Contract Sizing
  #       run: npm run size
  #     - name: Unit Tests 
  #       run: echo $CHUNKS | jq '.[${{ matrix.chunk }}] | .[] | @text' | xargs npx hardhat test 
  #       env:
  #         CHUNKS: ${{ needs.build.outputs['test-chunks'] }}

  # integration-test:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   if: ${{ !github.event.pull_request.draft }}
  #   env:
  #     GAS_REPORTER_COINMARKETCAP_API_KEY: ${{ secrets.COINMARKETCAP_API_KEY }}
  #   name: "test:integration"
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3.1.0
  #     - name: Setup node
  #       uses: actions/setup-node@v3.5.1
  #       with:
  #         node-version: 16.14.x
  #         cache: 'npm'
  #     - name: Install Dependencies
  #       run: npm install
  #     - name: Prepare Environment
  #       shell: bash
  #       run: |
  #         cp .env.example .env
  #     - name: Integration tests
  #       run: npx hardhat test test/integration/** 

  # deploy-dry-run:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   if: ${{ !github.event.pull_request.draft }}
  #   name: "deploy: dry run"
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3.1.0
  #     - name: Setup node
  #       uses: actions/setup-node@v3.5.1
  #       with:
  #         node-version: 16.14.x
  #         cache: "npm"
  #     - name: Install Dependencies
  #       run: npm install
  #     - name: Prepare Environment
  #       shell: bash
  #       run: |
  #         cp .env.example .env
  #     - name: Deploy suite locally
  #       run: npm run deploy-suite:hardhat
  #     - name: Cancelling tests in case of failure
  #       if: failure()
  #       uses: andymckay/cancel-action@0.2
  analyze:
      needs: build
      runs-on: ubuntu-latest
      permissions:
        contents: read
        security-events: write
      steps:
      - name: Checkout repository
        uses: actions/checkout@v3.1.0
      - name: Setup node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 16.14.x
          cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - name: Slither analyzer
        uses: crytic/slither-action@v0.2.0
        id: slither
        with:
          ignore-compile: true
          node-version: 16
          sarif: results.sarif
          fail-on: none
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}


