name: Contracts CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    name: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '16.14.x'
          cache: 'npm'
      - run: npm install
      - name: Prepare Environment
        shell: bash
        run: |
          cp .env.example .env
      - run: npm run build
      - run: npm run check:contracts
      - run: npm run check:scripts

  test:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    env:
      GAS_REPORTER_COINMARKETCAP_API_KEY: ${{ secrets.COINMARKETCAP_API_KEY }}
    name: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.4.0
      - name: Setup node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '16.14.x'
          cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - name: Prepare Environment
        shell: bash
        run: |
          cp .env.example .env
      - name: Compile Contracts
        run: npm run build
      - name: Contract Sizing
        run: npm run size
      - name: Unit tests
        run: npm run test
